
*{
  margin: 0;
  padding: 0;
}

.App{
  background-color: white;
  height: 100vh;
  width: 100%;
  font-size: 30px;
  font-family: monospace;
}
.question-section{
  width: 80%;
  margin: 10px auto;
}

.input-field{
   width: 100%;
   border: none;
   border-bottom: 1px solid #696868;
   font-size: 30px;
   outline: none;
   
}

.question{
  font-size: 40px;
  line-height: 1.7;
  margin: 5% 0;

}

.nextButton{
  border: none;
  outline: none;
  padding: 10px 20px;
  font-size: 35px;
  background-color: #35e235;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}
.question-text{
  margin: 40px 0;
}

.answer-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.answer-button{
  width: 14rem;
  padding: 10px 4px;
  margin: 3px;
}

.endButton{
  outline: none;
  border: none;
  font-size: 40px;
  color: #35e235;
  text-transform: capitalize;
}
.green{
  background-color: #35e235;
  color: #fff;
  outline: none;
  border: none;
}

.answer-button:focus{
  background-color: #35e235;
  color: #fff;
  outline: none;
  border: none;
}